@media (max-width: 1000px) {
    #header {
        border-radius: 0 0 0 200px !important;
        background-image: url(../images/bg-pattern-intro.svg), linear-gradient(180deg, #ff8f70, #ff3d54) !important;
        background-position-y: 38.2% !important;
        background-position-x: 39.5% !important;
    }
    #header-wrapper {
        align-items: center;
        width: 87% !important;
        padding: 95px 0 0 0 !important;
        height: 100px;
        align-content: center;
        #header-logo {
            width: 30% !important;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            img {
                width: 85% !important;
            }
        }
    }
    #mobile-menu-icon {
        display: block !important;
        width: 10% !important;
        cursor: pointer;
    }
    #header-menu {
        position: absolute;
        top: 200px;
        flex-direction: column !important;
        background-color: $White !important;
        color: $Very-dark-black-blue !important;
        width: 80% !important;
        left: 10%;
        right: 10%;
        border-radius: 5px;
        z-index: -1;
        ul {
            flex-direction: column !important;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid $Grayish-blue;
            width: 90% !important;
            padding: 10px !important;
            li {
                margin: 10px 0 10px 0 !important;
                color: $Very-dark-blue !important;
                &::before {
                    background-color: $Very-dark-blue !important;
                }
                &::after {
                    content: url(../images/icon-arrow-dark.svg) !important;
                }
            }
            .pop-up-menu  {
                position: relative !important;
                top: 0 !important;
                margin: 0 !important;
                box-shadow: none !important;
                background-color: #efeff1 !important;
                padding: 0 !important;
                width: 90% !important;
                justify-content: center !important;
                align-items: center !important;
                max-height: 0;
                transform: none !important;
                opacity: 0;
                z-index: -1 !important;
                &:nth-of-type(2) {
                    left: 0 !important;
                }
                &:last-of-type {
                    left: 0 !important;
                }

            }
            .pop-up-show {
                max-height: 100% !important;
                opacity: 1 !important;
                margin: 10px 0 10px 0 !important;
                transform: none !important;
                opacity: 1;
                z-index: 1 !important;
                &:nth-of-type(2) {
                    left: 0 !important;
                }
                &:last-of-type {
                    left: 0 !important;
                }
            }

        }
        a {
            margin: 10px 0 20px 0 !important;
            color: $Very-dark-blue !important;
            opacity: 1 !important;
            &::before {
                background-color: $Very-dark-blue !important;

            }
        }
        .button {
            margin: 0 0 20px 0;
            padding: 10px;
        }
    }
    .menu-mobile-on {
        z-index: 2 !important;
    }
    #greetings {
        margin: 200px 0 0 0 !important;
        h1 {
            font-size: 72px !important;
            width:  80%;
        }
        p {
            text-align: center;
            width: 80%;
            font-size: 36px !important;
            margin: 30px 0 0 0 !important;
        }
    }
    #buttons {
        padding: 0px 0 315px 0 !important;
        margin: 90px 0 0 0 !important;
        .start-4-free {
            margin: 0 15px !important;
        }
        .learn-more {
            margin: 0 15px !important;
            border-width: 2px !important;
        }
        .button {
            width: 275px;
            height: 95px;
            border-radius: 50px;
            font-size: 32px;
        }
    }
    /*--!!!HEADER!!!--*/
    #future-design {
        margin-bottom: 150px;
        height: auto;
        h2 {
            position: relative;
            font-size: 55px !important;
            margin: 135px auto 80px auto !important;
            width: 100%;
            inset: auto;
        }
        #future-design-wrapper {
            flex-direction: column-reverse;
            height: auto;
            #future-design-image {
                height: 675px;
                width: 100%;
                background-image: url(../images/illustration-editor-mobile.svg);
                background-position: center;
                background-size: 108%;
            }
            #future-design-text {
                height: auto;
                width: 100%;
                padding: 0;
                margin-top: 60px;
                .design-text {
                    width: 80%;
                    margin: auto;
                    h3 {
                        font-size: 56px;
                        text-align: center;
                        width: 95%;
                        line-height: 1;
                    }
                    p {
                        font-size: 32px;
                        line-height: 52px;
                        text-align: center;
                    }
                }
            }
        }
    }
    /*--!!!FUTURE DESIGN!!!--*/
    #state-of-art {
        border-radius: 0 200px 0 200px;
        background-position: center;
        flex-direction: column;
        margin-top: 500px;
        height: unset;
        background-position-y: -100%;
        .state-art-image {
            width: 100% !important;
            margin: 0;
            height: 200px;
            img {
                position: relative;
                width: 100% !important;
                left: auto;
                top: -170%;
                max-width: 800px;
            }
        }
        .state-art-text {
            margin: auto;
            width: 80%;
            margin-top: 300px;
            margin-bottom: 283px;
            h3 {
                font-size: 72px;
                margin: 0;
                text-align: center;
            }
            p {
                font-size: 32px;
                line-height: 52px;
                width: 100%;
                text-align: center;
            }
        }
    }
    /*--!!!STATE OF ART!!!--*/
    #free-open-simple {
        flex-direction: column;
        height: unset;
        margin-top: 155px;
        #free-open-simple-image {
            height: 655px;
            width: 100%;
            background-image: url(../images/illustration-laptop-mobile.svg);
            background-repeat: no-repeat;
            background-size: 133%;
            background-position: center;
            
        }
        #free-open-simple-text {
            width: 85%;
            margin: 65px auto;
            .design-text {
                width: 100%;
                margin: 0;
                h3 {
                    font-size: 56px;
                    text-align: center;
                    margin: 38px auto 50px auto;
                }
                p {
                    text-align: center;
                    font-size: 32px;
                    line-height: 54px;
                }
            }
        }
    }
    /*--!!!FREE OPEN SIMPLE!!!--*/
    #footer {
        .attribution {
            width: 70%;
            left: 15%;
            right: 15%;
            top: -7%;
            font-size: 25px;
        }
        border-radius: 0 200px 0 0 ;
        flex-direction: column;
        height: unset;
        #footer-logo {
            width: 100%;
            justify-content: center;
            align-items: center;
            img {
                margin: 150px 0 0 0;
                width: 27%;
            }
        }
        #footer-links {
            flex-direction: column;
            margin: 150px auto;
            .links {
                align-items: center;
                margin: 0;
                margin-bottom: 70px;
                p {
                    font-size: 36px;
                    margin-bottom: 65px;
                }
                a {
                    font-size: 36px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}

@media (max-width: 613px ) {
    #buttons {
        padding: 0px 0 215px 0 !important;
        display: flex;
        flex-direction: column;
        .button {
            margin: 20px auto !important;
        }
    }
}

@media (max-width: 505px) {
    #header-wrapper {
        padding: 15px 0 0 0 !important;
    }
    #header-menu {
        top: 100px !important;
    }
    #greetings {
        h1 {
            font-size: 56px !important;
        }
        p {
            font-size: 20px !important;
        }
    }
    #buttons {
        .button {
            width: 175px !important;
            height: 55px !important; 
            font-size: 20px;
        }
    }
    #future-design {
        h2 {
            font-size: 38px !important;
            margin: 100px auto 0px auto !important;
        }
        #future-design-image {
            height: 575px !important;
        }
        #future-design-text {
            .design-text {
                h3 {
                    font-size: 38px !important;
                }
                p {
                    font-size: 15px !important;
                    line-height: 25px !important;
                }
            }
        }
    }
    #state-of-art {
        margin-top: 50px !important;
        .state-art-image {
            img {
                top: -50% !important;
            }
        }
        .state-art-text {
            margin-top: 175px !important;
            margin-bottom: 110px !important;
            h3 {
                font-size: 42px !important;
            }
            p {
                font-size: 15px !important;
                line-height: 25px !important;
            }
        }
    }
    #free-open-simple {
        #free-open-simple-text {
            .design-text {
                h3 {
                    font-size: 38px !important;    
                }
                p {
                    font-size: 15px !important;
                    line-height: 25px !important;
                }
            }
        }
    }
    .attribution {
        top: -5% !important;
        font-size: 14px !important;
    }
    #footer-links {
        margin: 100px auto !important;
        .links {
            margin-bottom: 40px !important;
            p {
                font-size: 20px !important;
                margin-bottom: 35px !important;
            }
            a {
                font-size: 15px !important;
            }
        }
    }
}