body{
    font-family: Apple Chancery, cursive;
    margin: 0;
    padding: 0;
    background: rgb(156, 0, 0);
}

.tituloprincipal{
    background-image: url(/imagenes/FondoCabeza.jpg);
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

.tituloprincipal .link1{
    background: rgb(94, 94, 94);
    height: 8%;
    border: 3px solid rgb(255, 0, 0);
    margin: 0;
    color: white;
    list-style: none;
}

.tituloprincipal .link1 .f{
    display: flex;
    text-align: center;
    line-height: auto;
    margin-left: 5px;
    color: white;
    list-style: none;
}

.tituloprincipal .content{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    bottom: 35%;
}

.tituloprincipal .content .titulo{
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    font-weight: bolder;
    border: solid darkred 5px;
    background: black;
}

.linkfigma{
    justify-content: center;
}

.linkfigma .link1{
    background-image: url(/imagenes/BannerHojaDeVida.jpg);
    height: 8%;
    border: 3px solid rgb(255, 0, 0);
    margin: 5px;
    color: white;
    list-style: none;
    
}

.linkfigma .link1 .g{
    display: flex;
    line-height: auto;
    margin: 9px;
    color: white;
    list-style: none;
}

.linkfigma .link1 .subtitulo1{
    font-size: 25px;
    margin: 0;
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: bolder;
}

.parte1{
    margin-top: 3%;
}

.parte1 .img{
    position: absolute;
    top: 8%;
    right: 5%;
    width: 210px;
    height: 210px;
    border-radius: 100%;
    overflow: hidden;
    transform: skewY(4deg);
}

.parte1 .img img{
    width: 210px;
    height: 260px;
}

.parte1 .subtitulo2{
    text-align: center;
    background: whitesmoke;
    height: 8%;
    margin: 0;
    color: black;
    list-style: none;
    font-size: 35px;
    font-style: italic;
    font-weight: bolder;
}

.parte1 .subparte1{
    background-color: rgba(255, 0, 0, 0.705);
    width: 100%;
    height: auto;
    transform: skewY(-4deg);
    margin-top: 10px;
}

.parte1 .subparte1 .nombre{
    color: white;
    font-size: 30px;
    margin-left: 25%;
    transform: skewY(4deg);
    margin-bottom: 0;
}

.parte1 .subparte1 .datosx{
    color: white;
    font-size: 15px;
    margin-left: 25%;
    transform: skewY(4deg);
    margin-top: 3;
}

.info{
    width: 90%;
    height: auto;
    background-color: rgba(255, 0, 0, 0.705);
    margin:5% auto;
    padding: 20px;
    border-radius: 20px;
}

.info .tituloseccion{
    color: whitesmoke;
    font-size: xx-large;
    text-align: center;
    font-family: bolder;
    border-bottom: 2px black solid;
}

.info .tituloinfo{
    color: rgb(179, 179, 179);
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.info .infoinfo{
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: large;
    display: inline;
}